.mdl-layout {
	align-items: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}

.mdl-layout__header,
.mdl-layout__drawer {
	display: none !important;
}

.logo {
	width: 30px;
	margin-left: 10px;
}

.mdl-card {
	border-radius: 10px;
}