.mdl-layout {
	align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}

.mdl-layout__header,
.mdl-layout__drawer {
	display: none !important;
}
