
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
              <div class="mdl-card__title mdl-card--expand mdl-color--grey-300">
                <img src="assets/images/tom.jpg" class="avatar avatar-card" alt="">
                <h2 class="mdl-card__title-text">Socio</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Non dolore elit adipisicing ea reprehenderit consectetur culpa.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuesami1" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Esami
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuesami1">
                    <li class="mdl-menu__item">Ultimo Esame: XXXX</li>
                    <li class="mdl-menu__item">Prima data prossimo esame: XXXXXX</li>
                    <li class="mdl-menu__item">Iscrizione entro: XXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menu1" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Scheda socio
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menu1">
                    <li class="mdl-menu__item">Nome: XXXXX</li>
                    <li class="mdl-menu__item">Cognome: XXXXXX</li>
                    <li class="mdl-menu__item">Data di nascita: XX/XX/XXXX</li>
                    <li class="mdl-menu__item">Grado: XXXXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuquote1" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Quote</button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuquote1">
                    <li class="mdl-menu__item">Prima quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                      <input type="checkbox" id="switch-1" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Seconda quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2-1">
                      <input type="checkbox" id="switch-2-1" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Terza quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3-1">
                      <input type="checkbox" id="switch-3-1" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label></li>
                  </ul>
              </div>
            </div>
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
              <div class="mdl-card__title mdl-card--expand mdl-color--grey-300">
                <img src="assets/images/tom.jpg" class="avatar avatar-card" alt="">
                <h2 class="mdl-card__title-text">Socio</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Non dolore elit adipisicing ea reprehenderit consectetur culpa.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuesami2" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Esami
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuesami2">
                    <li class="mdl-menu__item">Ultimo Esame: XXXX</li>
                    <li class="mdl-menu__item">Prima data prossimo esame: XXXXXX</li>
                    <li class="mdl-menu__item">Iscrizione entro: XXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menu2" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Scheda socio
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menu2">
                    <li class="mdl-menu__item">Nome: XXXXX</li>
                    <li class="mdl-menu__item">Cognome: XXXXXX</li>
                    <li class="mdl-menu__item">Data di nascita: XX/XX/XXXX</li>
                    <li class="mdl-menu__item">Grado: XXXXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuquote2" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Quote</button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuquote2">
                    <li class="mdl-menu__item">Prima quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
                      <input type="checkbox" id="switch-2" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Seconda quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2-2">
                      <input type="checkbox" id="switch-2-2" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Terza quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3-2">
                      <input type="checkbox" id="switch-3-2" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label></li>
                  </ul>
              </div>
            </div>
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
              <div class="mdl-card__title mdl-card--expand mdl-color--grey-300">
                <img src="assets/images/tom.jpg" class="avatar avatar-card" alt="">
                <h2 class="mdl-card__title-text">Socio</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Non dolore elit adipisicing ea reprehenderit consectetur culpa.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuesami3" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Esami
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuesami3">
                    <li class="mdl-menu__item">Ultimo Esame: XXXX</li>
                    <li class="mdl-menu__item">Prima data prossimo esame: XXXXXX</li>
                    <li class="mdl-menu__item">Iscrizione entro: XXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menu3" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Scheda socio
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menu3">
                    <li class="mdl-menu__item">Nome: XXXXX</li>
                    <li class="mdl-menu__item">Cognome: XXXXXX</li>
                    <li class="mdl-menu__item">Data di nascita: XX/XX/XXXX</li>
                    <li class="mdl-menu__item">Grado: XXXXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuquote3" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Quote</button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuquote3">
                    <li class="mdl-menu__item">Prima quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3">
                      <input type="checkbox" id="switch-3" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Seconda quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2-3">
                      <input type="checkbox" id="switch-2-3" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Terza quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3-3">
                      <input type="checkbox" id="switch-3-3" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label></li>
                  </ul>
              </div>
            </div>
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
              <div class="mdl-card__title mdl-card--expand mdl-color--grey-300">
                <img src="assets/images/tom.jpg" class="avatar avatar-card" alt="">
                <h2 class="mdl-card__title-text">Socio</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Non dolore elit adipisicing ea reprehenderit consectetur culpa.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuesami4" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Esami
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuesami4">
                    <li class="mdl-menu__item">Ultimo Esame: XXXX</li>
                    <li class="mdl-menu__item">Prima data prossimo esame: XXXXXX</li>
                    <li class="mdl-menu__item">Iscrizione entro: XXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menu4" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Scheda socio
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menu4">
                    <li class="mdl-menu__item">Nome: XXXXX</li>
                    <li class="mdl-menu__item">Cognome: XXXXXX</li>
                    <li class="mdl-menu__item">Data di nascita: XX/XX/XXXX</li>
                    <li class="mdl-menu__item">Grado: XXXXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuquote4" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Quote</button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuquote4">
                    <li class="mdl-menu__item">Prima quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-4">
                      <input type="checkbox" id="switch-4" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Seconda quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2-4">
                      <input type="checkbox" id="switch-2-4" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Terza quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3-4">
                      <input type="checkbox" id="switch-3-4" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label></li>
                  </ul>
              </div>
            </div>
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
              <div class="mdl-card__title mdl-card--expand mdl-color--grey-300">
                <img src="assets/images/tom.jpg" class="avatar avatar-card" alt="">
                <h2 class="mdl-card__title-text">Socio</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Non dolore elit adipisicing ea reprehenderit consectetur culpa.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuesami5" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Esami
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuesami5">
                    <li class="mdl-menu__item">Ultimo Esame: XXXX</li>
                    <li class="mdl-menu__item">Prima data prossimo esame: XXXXXX</li>
                    <li class="mdl-menu__item">Iscrizione entro: XXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menu5" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Scheda socio
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menu5">
                    <li class="mdl-menu__item">Nome: XXXXX</li>
                    <li class="mdl-menu__item">Cognome: XXXXXX</li>
                    <li class="mdl-menu__item">Data di nascita: XX/XX/XXXX</li>
                    <li class="mdl-menu__item">Grado: XXXXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuquote5" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Quote</button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuquote5">
                    <li class="mdl-menu__item">Prima quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-5">
                      <input type="checkbox" id="switch-5" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Seconda quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2-5">
                      <input type="checkbox" id="switch-2-5" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Terza quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3-5">
                      <input type="checkbox" id="switch-3-5" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label></li>
                  </ul>
              </div>
            </div>
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
              <div class="mdl-card__title mdl-card--expand mdl-color--grey-300">
                <img src="assets/images/tom.jpg" class="avatar avatar-card" alt="">
                <h2 class="mdl-card__title-text">Socio</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Non dolore elit adipisicing ea reprehenderit consectetur culpa.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuesami6" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Esami
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuesami6">
                    <li class="mdl-menu__item">Ultimo Esame: XXXX</li>
                    <li class="mdl-menu__item">Prima data prossimo esame: XXXXXX</li>
                    <li class="mdl-menu__item">Iscrizione entro: XXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menu6" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Scheda socio
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menu6">
                    <li class="mdl-menu__item">Nome: XXXXX</li>
                    <li class="mdl-menu__item">Cognome: XXXXXX</li>
                    <li class="mdl-menu__item">Data di nascita: XX/XX/XXXX</li>
                    <li class="mdl-menu__item">Grado: XXXXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuquote6" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Quote</button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuquote6">
                    <li class="mdl-menu__item">Prima quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-6">
                      <input type="checkbox" id="switch-6" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Seconda quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2-6">
                      <input type="checkbox" id="switch-2-6" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Terza quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3-6">
                      <input type="checkbox" id="switch-3-6" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label></li>
                  </ul>
              </div>
            </div>
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
              <div class="mdl-card__title mdl-card--expand mdl-color--grey-300">
                <img src="assets/images/tom.jpg" class="avatar avatar-card" alt="">
                <h2 class="mdl-card__title-text">Socio</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Non dolore elit adipisicing ea reprehenderit consectetur culpa.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuesami7" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Esami
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuesami7">
                    <li class="mdl-menu__item">Ultimo Esame: XXXX</li>
                    <li class="mdl-menu__item">Prima data prossimo esame: XXXXXX</li>
                    <li class="mdl-menu__item">Iscrizione entro: XXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menu7" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Scheda socio
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menu7">
                    <li class="mdl-menu__item">Nome: XXXXX</li>
                    <li class="mdl-menu__item">Cognome: XXXXXX</li>
                    <li class="mdl-menu__item">Data di nascita: XX/XX/XXXX</li>
                    <li class="mdl-menu__item">Grado: XXXXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuquote7" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Quote</button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuquote7">
                    <li class="mdl-menu__item">Prima quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-7">
                      <input type="checkbox" id="switch-7" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Seconda quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2-7">
                      <input type="checkbox" id="switch-2-7" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Terza quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3-7">
                      <input type="checkbox" id="switch-3-7" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label></li>
                  </ul>
              </div>
            </div>
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
              <div class="mdl-card__title mdl-card--expand mdl-color--grey-300">
                <img src="assets/images/tom.jpg" class="avatar avatar-card" alt="">
                <h2 class="mdl-card__title-text">Socio</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Non dolore elit adipisicing ea reprehenderit consectetur culpa.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuesami8" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Esami
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuesami8">
                    <li class="mdl-menu__item">Ultimo Esame: XXXX</li>
                    <li class="mdl-menu__item">Prima data prossimo esame: XXXXXX</li>
                    <li class="mdl-menu__item">Iscrizione entro: XXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menu8" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Scheda socio
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menu8">
                    <li class="mdl-menu__item">Nome: XXXXX</li>
                    <li class="mdl-menu__item">Cognome: XXXXXX</li>
                    <li class="mdl-menu__item">Data di nascita: XX/XX/XXXX</li>
                    <li class="mdl-menu__item">Grado: XXXXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuquote8" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Quote</button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuquote8">
                    <li class="mdl-menu__item">Prima quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-8">
                      <input type="checkbox" id="switch-8" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Seconda quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2-8">
                      <input type="checkbox" id="switch-2-8" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Terza quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3-8">
                      <input type="checkbox" id="switch-3-8" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label></li>
                  </ul>
              </div>
            </div>
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
              <div class="mdl-card__title mdl-card--expand mdl-color--grey-300">
                <img src="assets/images/tom.jpg" class="avatar avatar-card" alt="">
                <h2 class="mdl-card__title-text">Socio</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Non dolore elit adipisicing ea reprehenderit consectetur culpa.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuesami9" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Esami
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuesami9">
                    <li class="mdl-menu__item">Ultimo Esame: XXXX</li>
                    <li class="mdl-menu__item">Prima data prossimo esame: XXXXXX</li>
                    <li class="mdl-menu__item">Iscrizione entro: XXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menu9" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Scheda socio
                </button>
                  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menu9">
                    <li class="mdl-menu__item">Nome: XXXXX</li>
                    <li class="mdl-menu__item">Cognome: XXXXXX</li>
                    <li class="mdl-menu__item">Data di nascita: XX/XX/XXXX</li>
                    <li class="mdl-menu__item">Grado: XXXXXXXX</li>
                  </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button id="menuquote9" href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Quote</button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--top-left" for="menuquote9">
                    <li class="mdl-menu__item">Prima quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-9">
                      <input type="checkbox" id="switch-9" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Seconda quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2-9">
                      <input type="checkbox" id="switch-2-9" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label>
                    </li>
                    <li class="mdl-menu__item">Terza quota
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3-9">
                      <input type="checkbox" id="switch-3-9" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                    </label></li>
                  </ul>
              </div>
            </div>
          </div>
        </div>