<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="mdl-layout__header" id="header">
        <div class="mdl-layout__header-row">
          <span id="title" class="mdl-layout-title">Admin LKC</span>
          <img src="./assets/images/logo-lkc-login.png" class="logo" alt="">
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50" id="drawer">
        <header class="demo-drawer-header" id="header">
          <img src="assets/images/tom.jpg" class="avatar">
          <div class="demo-avatar-dropdown">
            <span id="account"></span>
            <div class="mdl-layout-spacer"></div>
          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800" id="header">
          <a class="mdl-navigation__link" href="/console"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Soci</a>
          <a class="mdl-navigation__link" href="/anagrafica"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">face</i>Anagrafica</a>
          <a class="mdl-navigation__link" href="/eventi"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">event</i>Eventi</a>
          <a class="mdl-navigation__link" href="/contabilita"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">euro_symbol</i>Contabilità</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
        </nav>
      </div>
      <main class="mdl-layout__content mdl-color--grey-100">
      <router-outlet></router-outlet>
      </main>